# Token de critografia do checkout
ACCESS_TOKEN_SECRET=EZUmqmC9NuYd-rNVU5R4a0Fi7E9eWGtmMDDnpZ_WmPvmBYGnVOnfL10qc2BrVHPb

# Gateway ativo: "paradise" ou "wiinpay"
PAYMENT_GATEWAY=paradise

# Paradise
PARADISE_API_KEY=sk_7.......
PARADISE_API_BASE_URL=https://multi.paradisepags.com/api/v1
PARADISE_PUBLIC_URL=
 
# WiinPay
WIINPAY_API_KEY=
WIINPAY_BASE_URL=https://api-v2.wiinpay.com.br
